<h1>Listing models for <%= link_to @manufacturer.name, @manufacturer %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Identifier</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @models.each do |m| %>
  <tr>
    <td><%= m.name %></td>
      <td><%= m.identifier %></td>
    <td><%= link_to 'Show', manufacturer_model_path(@manufacturer, m) %></td>
    <td><%= link_to 'Edit', edit_manufacturer_model_path(@manufacturer, m) %></td>
    <td><%= link_to 'Destroy', [@manufacturer, m], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Model', new_manufacturer_model_path(@manufacturer) %>
