<h2><%= link_to @model.manufacturer.name, manufacturer_models_path(@model.manufacturer) %> - <%= @model.name %></h2>

<%= link_to 'Edit', edit_manufacturer_model_path(@manufacturer, @model) %>

<%= content_tag :ul, :data => {:role => "listview", :inset => "true"} do %>
  <% @model.items.all.each do |item| %>
    <% if item.surplus? %>
      <%= content_tag :li, (link_to (item.tag + ((" - " + item.model.manufacturer.name + " " + item.model.name) if item.model).to_s), item_path(item)), :data => {:theme => "f"} %>
    <% elsif !item.model | !item.serial? %>
      <%= content_tag :li, (link_to (item.tag + ((" - " + item.model.manufacturer.name + " " + item.model.name) if item.model).to_s), item_path(item)), :data => {:theme => "e"} %>
    <% else %>
      <%= content_tag :li, (link_to (item.tag + ((" - " + item.model.manufacturer.name + " " + item.model.name) if item.model).to_s), item_path(item)) %>
    <% end %>
    <% end %>
<% end %>

<% content_for :footer do %>
  <%= content_tag :h3, link_to('Back', manufacturer_path(@manufacturer), :data => {:role => "button", :icon => "back"}) %>
<% end %>