<% if @item.model and @item.serial? %>
    <%= link_to((["#{@item.tag}", @item.model.display_name, @item.serial].join(' - ')), item_path(@item), :data => {:theme => "a", :role => "button"}) %>
<% else %>
    <%= link_to((["#{@item.tag}", @item.model ? @item.model.display_name : "Missing!", @item.serial || "Missing!"].join(' - ')), edit_item_path(@item), :data => {:theme => "e", :role => "button"}) %>
<% end %>
<h4><%= @scans.count %> Scans</h4>
<div data-role="collapsible-set" data-content-theme="d" class="ui-collapsible-set">
  <% @scans.each do |scan| %>
    <%= render scan %>
  <% end %>
</div>
<%= link_to 'New Scan', new_item_scan_path(@item) %>

<% content_for :footer do %>
  <%= content_tag(:h3, link_to('Back', item_path(@item), :data => {:role => "button", :icon => "back"})) %>
<% end %>