<%= form_for([@site, @room]) do |f| %>
  <%= content_tag :ul, :data => {:role => 'listview', :inset => true} do %>
    <% if @room.errors.any? %>
      <li id="error_explanation" class="ui-body-e">
        <div data-role="collapsible" data-theme="e">
          <h3><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h3>
          <ol>
            <% @room.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ol>
        </div>
      </li>
    <% end %>

    <li data-role="fieldcontain">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </li>
    <li data-role="fieldcontain">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </li>
    <li data-role="fieldcontain">
      <%= f.label :latitude %>
      <%= f.text_field :latitude %>
    </li>
    <li data-role="fieldcontain">
      <%= f.label :longitude %>
      <%= f.text_field :longitude %>
    </li>
    <li data-role="fieldcontain">
      <%= f.submit %>
    </li>
  <% end %>
<% end %>
