<h2><%= link_to @site.abbreviation, @site %></h2>
<%= link_to 'Edit', edit_site_room_path(@site, @room) %>

<div data-role="collapsible-set" data-theme="c" data-content-theme="d" class="ui-collapsible-set">
    <%= render @room %>
</div>
<%= content_tag :h3, "#{@room.items.count} items" %>
<ul data-role="listview" data-inset="true" class="ui-grid-a">
<% @room.items.each do |item| %>
<%= content_tag :li, (link_to (item.tag + ((" - " + item.model.manufacturer.name + " " + item.model.name) if item.model).to_s), item_path(item)) %>
<% end %>
</ul>
<% content_for :footer do %>
  <%= content_tag :h3, link_to('Back', site_path(@site), :data => {:role => "button", :icon => "back"}) %>
<% end %>