<h2><%= link_to @site.abbreviation, @site %></h2>
<%= link_to 'Edit', edit_site_room_path(@site, @room) %>
<%= content_tag(:div, :data => {:role => "collapsible"}) do %>
  <%= content_tag :h3, @room.name %>
  <ul data-role="listview" data-inset="true" class="ui-grid-a">
    <li>
      <div class="ui-grid-a">
        <div class="ui-block-a">Room: </div>
        <div class="ui-block-b"><%= link_to @room.name, site_room_path(@site, @room) %>
        </div>
      </div>
    </li>
    <li>
      <div class="ui-grid-a">
        <div class="ui-block-a">Desc: </div>
        <div class="ui-block-b"><%= @room.description %></div>
      </div>
    </li>
    <% unless params[:controller] == "rooms"%>
    <li>
      <div class="ui-grid-a">
        <div class="ui-block-a">Items: </div>
        <div class="ui-block-b">
          <% if room.items.count == 0 %>
            No items
          <% elsif @room.items.count < 3 %>
            <% @room.items.each do |item| %>
            <%= link_to item.tag, item %>
            <% end %>
          <% else %>
            <%= link_to "View all #{room.items.count} items", site_room_path(@site, @room)%>
          <% end %>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
<% end %>

<%= content_tag :h3, "#{@room.items.count} items" %>
<ul data-role="listview" data-inset="true" class="ui-grid-a">
<% @room.items.each do |item| %>

  <% if item.surplus? %>
    <%= content_tag :li, (link_to (item.tag + ((" - " + item.model.manufacturer.name + " " + item.model.name) if item.model).to_s), item_path(item)), :data => {:theme => "f"} %>
  <% elsif !item.model | !item.serial? %>
    <%= content_tag :li, (link_to (item.tag + ((" - " + item.model.manufacturer.name + " " + item.model.name) if item.model).to_s), item_path(item)), :data => {:theme => "e"} %>
  <% else %>
    <%= content_tag :li, (link_to (item.tag + ((" - " + item.model.manufacturer.name + " " + item.model.name) if item.model).to_s), item_path(item)) %>
  <% end %>
<% end %>
</ul>
<% content_for :footer do %>
  <%= content_tag :h3, link_to('Back', site_path(@site), :data => {:role => "button", :icon => "back"}) %>
<% end %>