<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div data-role="fieldcontain"  class="ui-hide-label">
    <%= f.label :tag, "Asset Tag" %>
    <%= f.text_field :tag, :placeholder => "Asset Tag" %>
  </div>
  <li data-role="fieldcontain">
    <label for="sites">Manufacturer</label>
    <select id="manufacturers" name="manufacturers">
      <option value=""></option>
      <%= options_for_select(Manufacturer.all.collect {|m| [ m.name, m.name ] }, { :include_blank => true }) %>
    </select>
  </li>
  <li data-role="fieldcontain">
    <label for="item_model_id">Model</label>
    <% Model.all.each do |m| %>
    <% end%>
    <%= f.grouped_collection_select :model_id, Manufacturer.order(:name), :models, :name, :id, :name, include_blank: true %>
  </li>
  <div data-role="fieldcontain" class="ui-hide-label">
    <%= f.label :serial, "Serial #" %>
    <%= f.text_field :serial, :placeholder => "Serial #" %>
  </div>
  <li data-role="fieldcontain">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </li>

  <div class="ui-grid-a">
    <div class="ui-block-a"><%= link_to "Cancel", items_path, :data => {:role => "button", :theme => "d"} %></div>
    <div class="ui-block-b"><%= f.submit :data => {:theme => "b"} %></div>
  </div>
  
<% end %>
