<h1>Listing items</h1>

<table>
  <tr>
    <th>Acquisition date</th>
    <th>Tag</th>
    <th>Tagged</th>
    <th>Serial</th>
    <th>Model</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.acquisition_date %></td>
    <td><%= item.tag %></td>
    <td><%= item.tagged %></td>
    <td><%= item.serial %></td>
    <td><%= item.model %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
