<%= link_to('New Item', new_item_path) %>
<div data-role="collapsible-set" data-theme="c" data-content-theme="d" class="ui-collapsible-set">
<% @items.each do |item| %>
  <% if !item.model | !item.serial? %>
    <div data-role="collapsible" data-theme="e">
  <% elsif item.surplus?%>
    <div data-role="collapsible" data-theme="f">
  <% else %>
    <div data-role="collapsible" data-theme="c">
  <% end %>
    <h3>
      <%= item.tag %>
      <%= content_tag(:span, item.model.display_name, :style =>  "float:right") if item.model %>
    </h3>
    <p>Serial #: <%= item.serial %>
    </p>
    <% if item.most_recent_scan %>
      <p><i>
        <%= link_to("#{item.most_recent_scan.site.abbreviation} #{item.most_recent_scan.room.name}", site_room_path(item.most_recent_scan.site, item.most_recent_scan.room)) %>
        <%= time_ago_in_words(item.most_recent_scan.created_at)%> ago
      </i></p>
    <% end %>
    <p>
      <%= link_to 'Item Details', item_path(item) %>
    </p>
  </div>
<% end %>
</div>
<div data-role="fieldcontain" id="div-slider" data-theme="a">
  <label for="slider" class="ui-hidden-accessible">Pages:</label>
  <input type="range" name="slider" id="slider" value="<%= params[:page] || '1' %>" min="1" max="<%=@items.total_pages %>"  />
</div>
<h2>
<%= will_paginate @items, :inner_window => 0, :outer_window => 0 %>
</h2>