<div data-role="collapsible-set" data-theme="c" data-content-theme="d" class="ui-collapsible-set">
<% @items.each do |item| %>
  <div data-role="collapsible">
    <h3>
      <%= item.tag %>
      <%= content_tag(:span, item.model.display_name, :style =>  "float:right") if item.model %>
    </h3>
    <p>Serial #: <%= item.serial %>
    </p>
      <p><i><%= "Scanned at #{item.most_recent_scan.site ? item.most_recent_scan.site.abbreviation : 'Unknown'} #{item.most_recent_scan.room ? item.most_recent_scan.room.name : 'Unknown'} #{time_ago_in_words(item.most_recent_scan.created_at)} ago" if item.most_recent_scan %></i></p>
    <p>
      <% if item.model and item.serial? %>
        <%= link_to 'Item Details', item_path(item) %>
      <% else %>
        <%= link_to 'Item Details', edit_item_path(item) %>
      <% end %>
      | <%= link_to "Scans (#{item.scans.count.to_s})", item_scans_path(item) %>
    </p>
    
  </div>
<% end %>
</div>
<div data-role="fieldcontain" id="div-slider" data-theme="a">
   <input type="range" name="slider" id="slider" value="<%= params[:page] || '1' %>" min="1" max="<%=@items.total_pages %>"  />
</div>
<%= @items.total_pages %>
<% content_for :footer do %>
  <%= content_tag :h3, link_to('Add Item', new_item_path, :data => {:role => "button"}) %>
<% end %>