<% if @item %>
<ul data-role="listview" data-inset="true" class="ui-grid-a">
  <li>
    <div class="ui-grid-a">
      <div class="ui-block-a">Model: </div>
      <div class="ui-block-b"><%= (@item.model ? @item.model.display_name : "Missing!") if @item  %></div>
    </div>
  </li>
  <li>
    <div class="ui-grid-a">
      <div class="ui-block-a">Asset Tag: </div>
      <div class="ui-block-b"><%= @item.tag %></div>
    </div>
  </li>

  <li>
    <div class="ui-grid-a">
      <div class="ui-block-a">Serial #: </div>
      <div class="ui-block-b"><%= @item.serial || "Missing!" %></div>
    </div>
  </li>
</ul>
<%= content_tag :h3, link_to('View Scan History', item_scans_path(@item), :data => {:role => "button", :icon => "grid"}) %>
<div class="ui-grid-a">
  <div class="ui-block-a">
    <%= link_to "Edit", edit_item_path(@item), :data => {:role => "button", :theme => "d"} %>
  </div>
  <div class="ui-block-b">
    <%= link_to 'Delete', @item, confirm: 'Are you sure?', method: :delete, :style => "float:right", :data => {:role => "button", :icon => "delete", :theme => "e", :iconpos => "notext", :inline => true} %>
  </div>
</div>
<% content_for :footer do %>
  <%= content_tag :h3, link_to('Back', items_path, :data => {:role => "button"}) %>
<% end %>
<% end %>