<% if @item %>
<%= content_tag :ul, :data => {:role => 'listview', :inset => true} do %>
  <% if @item.surplus? %>
    <%= content_tag :li, :data => {:theme => 'f'} do %>
      <%= content_tag :h3, @item.display_name %>
    <% end %>
  <% elsif !@item.model | !@item.serial? %>
    <%= content_tag :li, :data => {:theme => 'e'} do %>
      <%= content_tag :h3, link_to(@item.display_name, edit_item_path(@item), :data => {:role => "button", :theme => 'e', :icon => "alert"}) %>
    <% end %>
  <% else %>
    <%= content_tag :li, :data => {:theme => 'c'} do %>
      <%= content_tag :h3, @item.display_name %>
    <% end %>
  <% end %>
<% end %>

  <%= content_tag :div, :data => {:role => 'collapsible-set', :theme => 'c', :content => {:theme => 'd'}}, :class => 'ui-collapsible-set' do -%>
    <div data-role="collapsible">
      <h3>Details</h3>
      <%= content_tag :ul, :data => {:role => "listview", :inset => "true", :theme => @item.surplus? ? 'f' : 'c'}, :class => "ui-grid-a" do -%>
        <% if @item.surplus? %>
          <li>
            <h1>!! Surplussed !!</h1>
          </li>
        <% end %>
        <li>
          <div class="ui-grid-a">
            <div class="ui-block-a">Model: </div>
            <div class="ui-block-b"><%= (@item.model ? link_to(@item.model.display_name, manufacturer_model_path(@item.model.manufacturer, @item.model)) : "Missing!") if @item  %></div>
          </div>
        </li>
        <li>
          <div class="ui-grid-a">
            <div class="ui-block-a">Serial #: </div>
            <div class="ui-block-b"><%= @item.serial || "Missing!" %></div>
          </div>
        </li>
        <li>
          <div class="ui-grid-a">
            <div class="ui-block-a">PO #: </div>
            <div class="ui-block-b"><%= @item.po %></div>
          </div>
        </li>
        <li>
          <div class="ui-grid-a">
            <div class="ui-block-a">Description: </div>
            <div class="ui-block-b"><%= @item.description %></div>
          </div>
        </li>
        <li>
          <div class="ui-grid-a">
            <div class="ui-block-a">Location: </div>
            <div class="ui-block-b"><%= @item.most_recent_scan ? link_to([@item.most_recent_scan.site.abbreviation, @item.most_recent_scan.room.name].join(" "), site_room_path(@item.most_recent_scan.site, @item.most_recent_scan.room)) : "None" %></div>
          </div>
        </li>
      <% end %>
    </div>
  
    <div data-role="collapsible">
      <%= content_tag(:h3, "Scan History") %>
      <div data-role="collapsible-set" data-content-theme="d" class="ui-collapsible-set">
      <% @item.scans.limit(5).each do |scan| %>
        <%= render scan %>
      <% end %>
      <% if @item.scans.count > 5 %>
        <%= content_tag :div, :data => {:role => "collapsible", :theme => "c  "} do %>
          <%= content_tag :h3, link_to('View Scan History', item_scans_path(@item), :data => {:role => "button", :icon => "grid"}) %>
        <% end %>
      <% end %>
    
      </div>
    
    </div>
    
  <% end %>




  <% content_for :footer do %>
    <div class="ui-grid-b">
      <div class="ui-block-a">
        &nbsp;
      </div>
      <div class="ui-block-b">
        <%= content_tag :h3, link_to('Back', items_path, :data => {:role => "button", :icon => "back"}) %>
      </div>
      <div class="ui-block-c">
        <%= content_tag :p, link_to("Edit", edit_item_path(@item), :data => {:role => "button", :icon => "grid", :theme => ('e' if !@item.model | !@item.serial?)}) %>
      </div>
    </div>
  <% end %>
  
<% end %>