<h2><%= @category.name %> (<%= @category.count_items %>)</h2>
<p><%= @category.description %></p>
<%= link_to 'Edit', edit_category_path(@category) %>

<%= content_tag :ul, :data => {:role => "listview", :inset => "true"} do %>
  <% @category.models.each do |model| %>
    <%= content_tag :li, :class => "ui-li-has-count" do %>
      <%= link_to "#{model.manufacturer.name} #{model.name}", manufacturer_model_path(model.manufacturer, model) %>
      <%= content_tag :span, model.items.count, :class => "ui-li-count"%>
    <% end %>
  <% end %>
<% end %>

<% content_for :footer do %>
  <%= content_tag(:h3, link_to('Back', categories_path, :data => {:role => "button", :icon => "back"})) %>
<% end %>