<h2>
  <%= @site.name %>
</h2>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'New Room', new_site_room_path(@site) %>

<%= content_tag( :div, :data => {:role => "collapsible-set", :theme => "c", "content-theme" => "d"}, :class => "ui-collapsible-set") do %>
  <%= render :partial => "rooms/room", :collection => @site.rooms %>
<% end %>

<% content_for :footer do %>
  <%= content_tag :h3, link_to('Back', sites_path(), :data => {:role => "button", :icon => "back"}) %>
<% end %>