<p>
  <b>Name:</b>
  <%= @site.name %>
</p>

<p>
  <b>Abbreviation:</b>
  <%= @site.abbreviation %>
</p>

<p>
  <b>Latitude:</b>
  <%= @site.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @site.longitude %>
</p>

<%= link_to 'Rooms', site_rooms_path(@site) %> |
<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
