<!DOCTYPE html>
<html>
<head>
  <title>Inventory</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Items', items_path %> |
<%= link_to 'Sites', sites_path %> |
<%= link_to 'Manufacturers', manufacturers_path %>
<%= yield %>

</body>
</html>
